.flex-container {
  display: flex;
  border: 2px solid grey;
  height: 50vh;
  /* flex-direction: column; Direction of elements inside the flex container */
  /* justify-content: flex-end; Horizontal Alignment of items */
  align-items: center; /*Vertical Alignment of items*/
  /* flex-wrap: wrap;  Make Items Responsive to device */

  flex-flow: row wrap; /*Flex-direction + Flex-wrap*/
}
.flex-item {
  background-color: lightblue;
  margin: 10px;
  border: 2px solid black;
  height: 120px;
  width: 120px;
}

.item1 {
  order: 3;
  flex-grow: 3;
}
.item3 {
  order: 10;
}
.item4 {
  flex-grow: 2;
}
.item2 {
  flex-shrink: 2;
  align-self: flex-start;
}
